/* ====== BASE (DESKTOP) ====== */
.card-swap-container {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%) scale(1);
  transform-origin: bottom right;
  perspective: 900px;
  overflow: visible;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 12px;
  border: 1px solid #fff;
  background: #000;
  border-radius: 15px;
  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* ====== TABLET (shrink a bit) ====== */
@media (max-width: 1024px) {
  .card-swap-container {
    right: 0;
    left: auto;
    bottom: 0;
    transform: translate(1%) scale(0.8);
  }
}

/* ====== MOBILE (bigger & centered) ====== */
@media (max-width: 768px) {
  .card-swap-container {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%) scale(0.6);
    transform-origin: top center;
  }
  .projects-cards-swap-shell {
    height: 400px; /* adjust until it fits perfectly */
    overflow: hidden; /* stops the swap animation from pushing the page */
    position: relative;
  }
}

/* extra tweak for very small phones */
@media (max-width: 480px) {
  .card-swap-container {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%) scale(0.6);
    transform-origin: top center;
  }
  .projects-cards-swap-shell {
    height: 400px; /* adjust until it fits perfectly */
    overflow: hidden; /* stops the swap animation from pushing the page */
    position: relative;
  }
}
